{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    {{ super() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Password Reset{% endblock %}</title>
    <style>
    body{background-color:black!important}.reset{height:250px;margin:auto;background-color:black!important;border:2px solid #fff;margin-top:200px}.mee{color:#fff}@media only screen and (min-width:600px){.reset{width:400px}}
    </style>
    {% endblock %}
  </head>
  <body>

    {% block content %}

    <div class="container reset">

      <div class="content-section">
          <form method="POST" action="">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4 mee">Reset Password</legend>
                  <div class="form-group">
                      {{ form.email.label(class="form-control-label mee") }}
                      {% if form.email.errors %}
                          {{ form.email(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.email(class="form-control form-control-lg",placeholder="Enter Email Address:") }}
                      {% endif %}
                  </div>
              </fieldset>
              <div class="form-group">
                  {{ form.submit(class="btn btn-dark") }}
              </div>
          </form>
      </div>

    </div>

    {% endblock %}

  </body>
</html>
