<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tasks{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.png.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    @media only screen and (min-width:1200px){body{width:400px}}@media (min-height:650px){body{height:80vh!important}}body{margin:auto;background:linear-gradient(to bottom right,rgba(40,180,131,.3),rgba(0,0,131,.5))}.me{border:2px solid #000;padding-left:10px;justify-content:center;margin-top:200px}.mee{display:flex;justify-content:center;margin-top:50px}
    </style>
  </head>
  <body>

    <!-- DELETE MODAL -->
    <div class="me">

      <h2>Task: {{ todos.text[:20] }}...</h2>
      <h2>Task by: {{ todos.user_id }}</h2>
      <h3>Due Date: {{ todos.date }}</h3>

      {% if todos.author == current_user %}
        <div class="mee">

          <a href="{{ url_for('users.all_user_todos', username=current_user.username) }}">
            <button class="btn btn-primary">Go Back</button>
          </a>
          <div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
          </div>

        </div>
      {% endif %}

      </div>
      <!-- END -->

            <!-- Modal for Pop Up-->
            {# https://getbootstrap.com/docs/4.1/components/modal/ #}
            {# Notice how the link with the id to the button above! #}
            <div class="modal" tabindex="-1" role="dialog" id="del_modal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete Task Pop up Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this task?</p>
                  </div>
                  <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form action="{{ url_for('todos.delete_todo', todo_id=todos.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Yes">
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- END -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
